################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/runme.ps1
